
body{
  font-family:Patrick Hand SC;
  font-size:80%;
  width: 600px;
  background-size:cover;
  margin: 20px;
}
h1{
  font-family:Arial, Helvetica, sans-serif;
  font-size:80px;
}
form{
  background-color: #eee;
  
  border-radius:5px;
  height:auto;
  width:600px;
}
#wrapper{
  margin-top:px;
 float:center;
}
input{
  font-family:Waiting for the Sunrise;
  font-size:17px;
  font-weight:bold;
}
